---

---

<a class="flex items-center justify-center text-white text-xl no-underline bg-[#11393c] py-4 my-2 w-60 rounded-lg hover:cursor-pointer" href="/docs/introduction/get-api-key/" target="_blank">
  Get your API Key!<span class="icon-[fluent--person-key-20-filled] text-white px-4"></span>
</a>