---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="note" title="They're up!">
  All Query Parameters <a href="/docs/api-reference/global-query-parameters" target="_blank">Global Query Parameters</a>  are enabled for <code>/details</code>!
</Aside>