---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="note" title="In case you haven't arrived yet!">
  See the <a href="/docs/api-reference/global-query-parameters" target="_blank">Global Query Parameters</a> section to discover the Query Parameters that are globally accepted for endpoints ending in <code>/all</code>!
</Aside>