---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="note" title="Remember!">
  See the <a href="/docs/api-reference/global-header-parameters" target="_blank">Global Header Parameters</a> section so you can make these requests correctly and with the necessary permissions.
</Aside>