/* for custom font: '@import url('')' */

/* for local font */
@font-face {
  font-family: 'lexend-500';
  src: url('../assets/fonts/lexend/lexend-latin-500-normal.ttf');
}

@font-face {
  font-family: 'lexend-400';
  src: url('../assets/fonts/lexend/lexend-latin-400-normal.ttf');
}

@font-face {
  font-family: 'lexend-300';
  src: url('../assets/fonts/lexend/lexend-latin-300-normal.ttf');
}

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'lexend-500', Georgia;
}

span, p, thead {
  font-family: 'lexend-400', sans-serif;
}

table, tbody td {
  font-family: 'lexend-300', sans-serif;
}

thead {
  background-color: #11393c;
}

tbody td {
  background-color: #0d2c2e;
}