---

---

<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://nestjs.com/" target="_blank">
  <span class="text-white">NestJs</span>
  <span class="icon-[logos--nestjs] ml-2 w-9 h-9"></span>
</a>
<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://www.mysql.com/" target="_blank">
  <span class="text-white">MySQL</span>
  <span class="icon-[devicon--mysql] ml-2 w-9 h-9"></span>
</a>
<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://bun.sh/" target="_blank">
  <span class="text-white">Bun</span>
  <span class="icon-[logos--bun] ml-2 w-9 h-9"></span>
</a>
<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://www.prisma.io/" target="_blank">
  <span class="text-white">Prisma</span>
  <span class="icon-[simple-icons--prisma] ml-2 w-9 h-9 text-white"></span>
</a>
<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://www.typescriptlang.org/" target="_blank">
  <span class="text-white">TypeScript</span>
  <span class="icon-[logos--typescript-icon] ml-2 w-9 h-9"></span>
</a>