---

---
<div class="flex flex-col gap-y-4">
  <a class="flex items-center text-xl no-underline p-4 rounded-lg bg-[#23344b] hover:scale-105 transition-all delay-70 cursor-pointer" href="https://vercel.com/" target="_blank">
    <span class="text-white">Vercel</span>
    <span class="icon-[akar-icons--vercel-fill] ml-2 w-9 h-9 text-[#fff]"></span>
  </a>
</div>