---
import Image from 'astro/components/Image.astro';

import Vercel from '../../../assets/project/technologies/vercel.svg';
---

<a class="flex items-center text-xl no-underline p-4 my-2 rounded-lg hover:bg-neutral-50/5 hover:scale-105 transition-all delay-70 cursor-pointer" href="https://vercel.com/" target="_blank">
  <span class="text-white">Vercel</span>
  <Image class="pl-2 w-10 h-auto" src={Vercel} alt="Vercel" />
</a>