---
import { Code } from '@astrojs/starlight/components';
export const url = `http://localhost:3000/api/v1/flag/all`
export const code = `
const fetchApiExample = async () => {
  const response = await fetch(${url}, {
    method: 'GET',
    headers: {
      'x-countries_sundries_api-key': 'Bearer x-xxx-xxxx-x',
      'x-api-version': '1',
      'Content-Type': 'application/json'
    }
  });
  const data = await response.json()
  return data
}

fetchApiExample()
`

export const title = 'Fetch API example'

export const highlights = ['http://localhost:3000/api/v1/flag/all']
---

<div id="flag-all" >
  <Code frame="code" code={code} lang="js" title={title} mark={highlights} />
</div>