* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #f5f5fa;
    background-color: #0f0c0c;
}

.container__all-countries {
    padding: 50px 0 0 30px;
}

.title__block {
    color: #02bd12;
    font-family: 'Nunito', sans-serif;
}

.container__countries-info {
    display: flex;
    flex-direction: column;
    background-color: #28386d;
    width: 40%;
    color: #f5f5fa;
    font-family: 'Nunito', sans-serif;
}