---
title: 'Header Params'
---

<table>
    <thead>
        <tr>
            <th>Name Parameter</th>
            <th>Data Type</th>
            <th>Optional / Required</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>x-countries_sundries_api-key</td>
            <td>String</td>
            <td>Required</td>
            <td>It will be specified with the prefix 'Bearer', followed by the JWT obtained from user authentication</td>
        </tr>
        <tr>
            <td>x-api-version</td>
            <td>String</td>
            <td>Required</td>
            <td>Specifies the current version of the API</td>
        </tr>
        <tr>
            <td>Content-Type</td>
            <td>String</td>
            <td>Optional</td>
            <td>Will return the requested information in JSON format</td>
        </tr>
        <tr>
            
        </tr>
    </tbody>
</table>